
:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 18px;
}



#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}


.card__content {
	transform-origin: 50% 0%;
	will-change: transform;
}


/** PAGE STYLING **/


		@supports (animation-timeline: view()) {
			

			.card__content {
				--start-range: calc(var(--index0) / var(--numcards) * 100%);
				--end-range: calc((var(--index)) / var(--numcards) * 100%);

				animation: linear scale forwards;
				animation-timeline: --cards-element-scrolls-in-body;
				animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
			}
		}


